{% extends 'base.html' %}

{% block title %}To-do List{% endblock %}

{% block content %}
<table class="table table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sell Opportunity</th>
            <th>Cars</th>
        </tr>
    </thead>
    <tbody>
        {% if users %}
        {% for user in users %}
        <tr>
            <td>{{ user.nickname }}</td>
            <td>
                {% if user.cars|length > 0 %} <!-- Verifica se o usuário não tem carros -->
                <span style="color: red;">❌</span> <!-- Ícone X vermelho -->
                {% else %}
                <span style="color: green;">✔️</span> <!-- Ícone de check -->
                {% endif %}
            </td>
            <td>{{ user.cars|length }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}