{% extends 'base.html' %}

{% block title %}To-do List{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login', next=next) }}">
            <div class="mb-3">
                <label for="user" class="form-label">Nickname</label>
                <input type="text" class="form-control" id="user" name="user" required>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <a href="{{ url_for('register') }}" class="btn btn-primary mt-2">Cadastrar-se</a>
    </div>
{% endblock %}